<a href="https://colab.research.google.com/github/shraddhachilgani/Assessment/blob/main/assessment%20Q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import OrdinalEncoder

In [14]:
# Read the CSV file
df = pd.read_csv("/content/car_details_from_car_dekho - car_details_from_car_dekho.csv")
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
2,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
3,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
4,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner

In [15]:
# Creating a new column "year old" by subtracting the "year" column from the current year
df['year old'] = pd.Timestamp.now().year - df['year']

In [16]:
# Droping the "year" column as it is no longer required
df.drop('year', axis=1, inplace=True)

In [17]:
# Removing columns with one unique value
for col in df.columns:
    if len(df[col].unique()) == 1:
        df.drop(col, axis=1, inplace=True)

In [18]:
# Set "selling_price" as the target column
target_col = 'selling_price'

In [20]:
# Split the data into training and testing sets
train_df, test_df = train_test_split(df, test_size=0.1, random_state=42)

In [21]:
# Perform ordinal encoding on the categorical columns
cat_cols = train_df.select_dtypes(include=['object']).columns.tolist()
ordinal_encoder = OrdinalEncoder()
train_df[cat_cols] = ordinal_encoder.fit_transform(train_df[cat_cols])
test_df[cat_cols] = ordinal_encoder.transform(test_df[cat_cols])

In [22]:
# Fit a Random Forest Regressor to the training data
features = train_df.drop(target_col, axis=1)
target = train_df[target_col]
rf = RandomForestRegressor(random_state=42)
rf.fit(features, target)

RandomForestRegressor(random_state=42)

In [23]:
# Calculate Mean Absolute Error for test data
test_features = test_df.drop(target_col, axis=1)
test_target = test_df[target_col]
preds = rf.predict(test_features)
mae = mean_absolute_error(test_target, preds)
print("Mean Absolute Error:", mae)

Mean Absolute Error: 38550.002